.representations {
    list-style: none;
}

a.representation {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: auto;
    font-size: medium;
    line-height: normal;
}

.agenda a.representation {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: auto;
    margin-bottom: 2em;
}

a.representation .right {
    text-align: end;
}

a.representation .lieu {
    text-align: end;
}

.agenda .saison:not(:first-child) {
    margin-top: var(--header-padding-top);
}

.post-main .representation .dates {
    text-align: end;
}

@media screen and (max-width: 1000px) {
}
