.saison :is(h1, h2, h3, h4, h5, h6) {
    text-transform: uppercase;
}

.representations {
    list-style: none;
}

a.representation {
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-direction: column;
    margin-bottom: 10px;
}

a.representation span {
    text-align: right;
    font-size: 1.4em;
    line-height: normal;
}

a.representation span.dates {
    white-space: nowrap;
}
a.representation span :is(h1, h2, h3, h4, h5, h6) {
    white-space: nowrap;
}

.saison h3 {
    margin-bottom: 10px;
}

.saison {
    margin-bottom: 15px;
}

@media screen and (max-width: 1000px) {
    .representations li {
        font-size: medium;
        margin-bottom: 15px;
    }

    .saison {
        margin-bottom: 25px;
    }
}
