.representations {
    list-style: none;
}

a.representation {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 0.5rem;
    margin-left: auto;
    font-size: medium;
    line-height: normal;
}

.agenda a.representation {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: auto;
    margin-bottom: 2em;
}

a.representation .right {
    text-align: end;
}

a.representation .lieu {
    text-align: end;
}

.list .representation {
    text-decoration: none;
}

.agenda .saison:not(:first-child) {
    margin-top: var(--header-padding-top);
}

.agenda .representation {
    text-decoration: none;
}

.agenda .representation .right {
    text-decoration: underline var(--underline-link);
}

.content .representation h2 {
    margin-bottom: 0;
}

.content .representation:hover h2 {
    color: var(--blue);
}

.post-main .representation .dates {
    text-align: end;
}

@media screen and (max-width: 1000px) {
}
