.logo-header {
    overflow-wrap: normal;
    white-space: nowrap;
    position: absolute;
    padding: calc(2px + var(--logo-border-size));
}

.row-logo {
    width: 100%;
    height: 100px;
    position: relative;
}

.row-logo .block-logo:first-child {
    width: var(--left-row-width);
}

.row-logo .block-logo:last-child {
    width: var(--right-row-width);
}

.block-logo {
    height: 100%;
    float: left;
}

.first-row-logo div:last-child {
    border-top: var(--logo-border);
    border-right: var(--logo-border);
}

.second-row-logo div:first-child {
    border-top: var(--logo-border);
    border-left: var(--logo-border);
}

.second-row-logo div:last-child {
    border-right: var(--logo-border);
    border-top: var(--logo-border);
}

.third-row-logo div:first-child {
    border-left: var(--logo-border);
    border-top: var(--logo-border);
}
@media screen and (max-width: 600px) {
    .row-logo .logo-header {
        right: 0px;
    }

    header {
        margin-bottom: 3rem;
    }
}

@media screen and (min-width: 600px) {
    .first-row-logo .logo-header {
        right: 0px;
    }

    .second-row-logo .logo-header {
        right: 45%;
    }
}
