.logo-header {
    overflow-wrap: normal;
    white-space: nowrap;
    position: absolute;
    padding: 2px calc(var(--small-main-padding) + var(--logo-border-size));
}
.first-row-logo .logo-header {
    top: var(--logo-border-middle-size);
}

.row-logo {
    width: 100%;
    height: var(--row-logo-height);
    position: relative;
}

.row-logo .block-logo:first-child {
    width: var(--left-row-width);
}

.row-logo .block-logo:last-child {
    width: var(--right-row-width);
}

.first-row-logo .block-logo:first-child {
    width: calc(var(--left-row-width) - 10px);
}

.first-row-logo .block-logo:last-child {
    width: calc(var(--right-row-width) + 10px);
}

.second-row-logo .block-logo:first-child {
    width: calc(var(--left-row-width) + 10px);
}

.second-row-logo .block-logo:last-child {
    width: calc(var(--right-row-width) - 10px);
}

.block-logo {
    height: 100%;
    float: left;
}

.first-row-logo div:last-child {
    border-top: var(--logo-border-middle);
    /* border-bottom: var(--logo-border-middle); */
    border-right: var(--logo-border);
}

.first-row-logo {
    height: calc(var(--row-logo-height) - var(--logo-border-middle-size));
}

.third-row-logo {
    height: calc(var(--row-logo-height) - var(--logo-border-middle-size));
}

.second-row-logo {
    border-top: var(--logo-border-middle);
}

.second-row-logo div:first-child {
    /* border-top: var(--logo-border-middle); */
    border-bottom: var(--logo-border-middle);
    border-left: var(--logo-border);
}

.second-row-logo div:last-child {
    border-right: var(--logo-border);
    /* border-top: var(--logo-border-middle); */
}

.third-row-logo div:first-child {
    border-left: var(--logo-border);
    /* border-top: var(--logo-border-middle); */
}

.first-row-logo .logo-header,
.second-row-logo .logo-header {
    right: 0px;
}
@media screen and (max-width: 768px) {
    /* .row-logo .logo-header {
        right: 0px;
    } */

    header {
        /* margin-bottom: calc(var(--gap) / 2); */
    }
}

@media screen and (min-width: 768px) {
}
