@media screen and (max-width: 1000px) {
}
@media screen and (min-width: 1000px) {
}

.post-entry {
    background-color: var(--main-bg);
    border: 0;
    padding: 0;
    margin-bottom: var(--gap);
}

.post-entry:active {
    transform: none;
}

.entry-main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    min-height: 150px;
    flex-wrap: wrap;
    row-gap: var(--content-gap);
}

.entry-photo :is(h1, h2, h3, h4) {
    margin: auto 40px;
}

.entry-photo {
    display: flex;
    align-items: baseline;
    justify-content: right;
}

@media screen and (max-width: 768px) {
    .entry-photo {
        width: 100%;
        max-height: 65vh;
    }

    .entry-photo > * {
        height: 100%;
        width: auto;
    }
}

@media screen and (min-width: 768px) {
    .entry-photo {
        width: 768px;
    }

    .entry-photo > * {
        max-height: 350px;
        max-width: 500px;
        height: 100%;
        width: auto;
    }

    .entry-content {
        width: 500px;
    }
}

.entry-content {
    color: black;
    /* background: white; */
    display: flex;
    /* border: solid; */
    flex-direction: column;

    font-size: medium;
    text-align: right;
    margin: 0;
    /* gap: 100px 10px; */
}

.entry-content .secondary-header {
    margin-bottom: 1rem;
}

.no-photo .entry-content {
    border: none;
}

.entry-content ul {
    margin-top: 10px;
}

.entry-content p {
    color: black;
    text-align: justify;
}

.entry-content .saison :is(h1, h2, h3, h4, h5, h6) {
    text-align: right;
}

.post-entry:hover .entry-content .secondary-header {
    /* text-decoration: var(--underline-theme-hover); */
    color: var(--blue);
}

.content h1:not(:first-child) {
    margin-top: var(--header-padding-top);
}

.entry-link-wrapper:hover {
    cursor: pointer;
}
