@media screen and (max-width: 1000px) {
}
@media screen and (min-width: 1000px) {
}

.post-entry {
    background-color: var(--main-bg);
    border: 0;
    padding: 0;
}

.post-entry:active {
    transform: none;
}
.list {
    background: var(--main-bg);
}

.list-title {
    margin-bottom: 1em;
    text-align: right;
    text-decoration: var(--underline-theme);
    text-underline-offset: var(--underline-theme-offset);
    text-decoration-skip-ink: none;
}
.list-entry {
    /* background: #fff; */
    padding: 1em;
    margin: 3em auto;
}

.entry-main {
    display: flex;
    flex-direction: row;
    justify-content: right;
    min-height: 300px;
}

.entry-photo :is(h1, h2, h3, h4) {
    margin: auto 40px;
}

.entry-photo {
    width: 600px;
    display: flex;
    align-items: baseline;
    justify-content: right;
    flex-shrink: 0;
}

.entry-photo img {
    height: 100%;
    width: auto;
    max-height: 350px;
    max-width: 500px;
}

.entry-content {
    color: black;
    /* background: white; */
    display: flex;
    /* border: solid; */
    flex-direction: column;

    font-size: medium;
    text-align: right;
    margin: 0;
    max-width: 600px;
    /* gap: 100px 10px; */
}

.no-photo .entry-content {
    border: none;
}

.entry-content ul {
    margin-top: 10px;
}

.entry-content p {
    color: black;
    text-align: justify;
}

.entry-content .saison :is(h1, h2, h3, h4, h5, h6) {
    text-align: right;
}
