:root {
    --main-bg: #fffffff;
    --underline-theme: 3px underline solid var(--theme);
    --underline-theme-offset: 4px;
    --underline-theme-hover: 1px underline solid var(--theme);
    --underline-theme-hover-offset: 3px;
    --theme: rgb(30, 30, 30);
    --radius: 0deg;
    --title-effect: drop-shadow(4px 2px 0.5px var(--theme));
    --logo-border-size: 18px;
    --logo-border: solid var(--logo-border-size) var(--theme);
    --main-border: solid 9px;
    --main-padding: 50px;
    --title-logo-boder: 18px solid var(--theme);
    --row-logo-height: 100px;
    --h1-size: 3rem;
    --h1-weight: 100;
    --h2-weight: 100;
    --h2-size: 1.4rem;
    --header-padding-top: 80px;
}

.title-effect {
    filter: var(--title-effect);
    font-weight: 600;
}

a:hover {
    text-decoration: var(--underline-theme-hover);
    text-underline-offset: var(--underline-theme-hover-offset);
    text-decoration-skip-ink: none;
}
a.active {
    text-decoration: var(--underline-theme);
    text-underline-offset: var(--underline-theme-offset);
    text-decoration-skip-ink: none;
}
/* 
@media screen and (min-width: 600px) and (max-width: 1000px) {
    body {
        max-width: 100vw;
    }
}
@media screen and (max-width: 600px) {
    body {
        max-width: 100vw;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1407px) {
    body {
        max-width: 100vw;
    }
}
@media screen and (min-width: 1407px) {
    body {
        max-width: 100vw;
    }
} */

body {
    max-width: 1800px;
    margin: auto;
}
@font-face {
    font-family: 'Helvetica Neue Light';
    src: url('/fonts/HelveticaNeue-Light.woff2') format('woff2'),
        url('/fonts/HelveticaNeue-Light.ttf') format('ttf');
}
body {
    background-color: var(--main-bg);
    margin: auto auto;
    font-family: 'Helvetica Neue Light', 'Neue Haas Unica Pro', Arial,
        sans-serif;
    font-size: var(--main-font-size);
}

.logo {
    margin: 0;
}
.logo a {
    /* background: url(/img/cropped_blue.jpg) no-repeat 50%;
    background-size: auto;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text; */
    /* font-family: amarante, cursive; */
    font-weight: inherit;
    text-transform: uppercase;
    text-align: center;
    outline: none;
    text-decoration: none;
    font-size: 60px;
}
.main {
    min-height: 0;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    gap: 15px 50px;
    width: 100%;
    margin: 0;
    padding: 1px;
    padding-left: var(--logo-border-size);
    justify-content: space-between;
}

.content {
    overflow-y: scroll;
    flex-grow: 1;
    padding-right: 55px;
}
.full-height-container {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main-header {
    font-size: var(--h1-size);
    font-weight: var(--h1-weight);
    color: var(--theme);
}

.secondary-header {
    font-size: var(--h2-size);
    font-weight: var(--h2-weight);
    color: var(--theme);
    text-transform: uppercase;
}
