.submenu {
    background-color: #ffff;
    display: none;
    flex-direction: column;
    position: absolute;
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    gap: 15px;
    white-space: nowrap;
    z-index: 1;
    line-height: normal;
    border: solid;
    /* border: 0.5em double #32a1ce; */

    transform: translate(-20px, 10px);
}
.menu {
    align-items: start;
    list-style-type: none;
    flex-shrink: 0;
    line-height: normal;
    display: flex;
    flex-direction: column;
    padding: 2px;
    padding-top: 25px;
}

.menu > li {
    padding-bottom: 10px;
}

/* ::-webkit-scrollbar-track {
    background: 0 0;
}
.list:not(.dark)::-webkit-scrollbar-track {
    background: var(--code-bg);
}
::-webkit-scrollbar-thumb {
    padding-top: 1vw;
    background: var(--main-bg);
    border: 5px solid var(--theme);
}
.list:not(.dark)::-webkit-scrollbar-thumb {
    background: var(--main-bg);
    padding-top: 1vw;
    border: 5px solid var(--theme);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--theme);
} */
