.menu {
    list-style-type: none;
    flex-shrink: 0;
    line-height: normal;
    display: flex;
    flex-direction: column;
}

.menu a {
    color: var(--theme);
    text-decoration: none;
}

.menu a:hover,
.menu a.active {
    color: var(--blue);
}

.menu-toggle a:hover,
.menu-toggle a.active {
    color: var(--theme);
}

.menu.open li:not(.menu-toggle) {
    display: block;
}

a.active {
    /* text-decoration: var(--underline-theme);
    text-underline-offset: var(--underline-theme-offset);
    text-decoration-skip-ink: none; */
}

@media screen and (max-width: 768px) {
    .menu {
        align-items: start;
        position: sticky;
        top: -2px;
        padding: 8px 2px 12px;
        margin: -18px -2px var(--middle-gap) -2px;
        z-index: 1;
        background-color: transparent;
    }

    .menu:not(.open) {
        flex-direction: row;
        gap: 0 10px;
        flex-wrap: wrap;
    }

    .menu:not(.open) li:not(.menu-toggle):not(.active) {
        display: none;
    }

    .content {
        position: relative;
    }
}

@media screen and (min-width: 769px) {
    .menu {
        align-items: start;
    }

    .menu-toggle {
        display: none;
    }
}

/* ::-webkit-scrollbar-track {
    background: 0 0;
}
.list:not(.dark)::-webkit-scrollbar-track {
    background: var(--code-bg);
}
::-webkit-scrollbar-thumb {
    padding-top: 1vw;
    background: var(--main-bg);
    border: 5px solid var(--theme);
}
.list:not(.dark)::-webkit-scrollbar-thumb {
    background: var(--main-bg);
    padding-top: 1vw;
    border: 5px solid var(--theme);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--theme);
} */

.hamburger {
    padding: 3px 15px;
    display: inline-block;
    cursor: pointer;

    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}

.hamburger:hover {
    opacity: 1;
}

.hamburger-box {
    width: 32px;
    height: 26px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -1px;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
    width: 32px;
    height: 3px;
    background-color: var(--theme);
    border-radius: 0;
    position: absolute;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.05s;
    transition-duration: 0.05s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}

.hamburger-inner:after,
.hamburger-inner:before {
    content: '';
    display: block;
}

.hamburger-inner:before {
    top: -10px;
}

.hamburger-inner:after {
    bottom: -10px;
}

.menu.open .hamburger-inner {
    top: auto;
    bottom: 8px;
    /* -webkit-transition-duration: 0.08s;
    transition-duration: 0.08s;
    -webkit-transition-delay: 0.08s;
    transition-delay: 0.08s; */
}

.menu.open .hamburger-inner:after {
    top: -12px;
}

.menu.open .hamburger-inner:before {
}

.menu.open .hamburger-inner {
    -webkit-transform: translate3d(0, -6px, 0) rotate(-45deg);
    transform: translate3d(0, -6px, 0) rotate(-45deg);
}

.menu.open .hamburger-inner:after {
    top: 0;
    opacity: 0;
}

.menu.open .hamburger-inner:before {
    top: 0;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
