@media screen and (max-width: 1000px) {
    main {
        max-width: 85vw;
    }
    .post-main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .post-main :is(p, ul) {
        font-size: larger;
    }
    .post-title {
        margin-bottom: none;
        margin: auto;
    }
    .post-col2 {
        margin: none;
        width: 100%;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1407px) {
    .post-main {
        justify-content: space-between;
        align-items: start;
    }
    .post-col1 {
        max-width: 55%;
    }
    .post-col2 {
        max-width: 42%;
    }
}
@media screen and (min-width: 1407px) {
    main {
        max-width: 80%;
    }
    .post-main {
        justify-content: space-between;
        align-items: start;
    }
    .post-col1 {
        max-width: 65%;
    }
    .post-col2 {
        max-width: 28%;
    }
}
.post-title {
    margin-bottom: calc(2vh + 10px);
    font-size: 60px;
    text-transform: uppercase;
}
.post-main {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.post-main p a {
    color: var(--theme);
    box-shadow: none;
}

.post-content {
    color: #000;
    text-align: justify;
    font-size: medium;
}
.post-content :is(h1, h2, h3, h4, h5, h6) {
    margin: 0;
    margin-bottom: 3vh;
}
.post-generique {
    padding: 0em 1em 1em 1em;
    font-size: large;
    background-color: #fffbfb;
    border: 10px double;
}
.post-generique :is(p, ul) {
    margin-bottom: 0.5em;
    font-size: medium;
}
.post-generique :is(h1, h2, h3, h4, h5, h6) {
    text-transform: uppercase;
    margin-bottom: 0.8em;
    margin-top: 0.8em;
}

.pswp-gallery img:hover {
    filter: brightness(0.8);
}
.pswp-gallery {
    gap: 1vh 2vh;
}
