.post-single {
    text-align: end;
}
.post-single {
    margin-bottom: var(--gap);
}

/* @media screen and (max-width: 768px) {
}

@media screen and (min-width: 769px) and (max-width: 1000px) {
}
@media screen and (min-width: 1000px) and (max-width: 1407px) {
}
@media screen and (min-width: 1407px) {
} */

.post-main {
    display: block;
}
.post-div {
    margin-bottom: var(--middle-gap);
}

@media screen and (max-width: 768px) {
    .col1 .post-generique {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .post-main {
        flex-direction: row;
        display: flex;
        gap: var(--gap);
        flex-wrap: wrap-reverse;
        justify-content: space-between;
    }

    .post-main.no-photo {
        justify-content: right;
    }

    .accueil.post-main {
        justify-content: right;
    }

    .col1 {
        order: 2;
        flex: 1 1 400px;
        max-width: 800px;
    }

    .no-photo .col1 {
        max-width: 1000px;
    }

    .col2 {
        order: 1;
        flex: 1 1 400px;
        max-width: 600px;
        margin-left: auto;
    }

    .col3 {
        display: none;
    }
}

.post-generique {
    text-align: justify;
}

.post-main .col-1 {
    flex: 2 0;
}

.post-main .col-2 {
    flex: 1 0 10px;
}

.post-main p a {
    /* color: var(--theme); */
    box-shadow: none;
    text-align: end;
}

.post-main p:not(:last-child) {
    margin-bottom: var(--content-gap);
}

.post-main p:last-child {
    margin-bottom: 0px;
}

.post-content {
    color: var(--theme);
    text-align: justify;
    font-size: medium;
    line-height: initial;
}

.no-dates-warning {
    text-align: right;
}

.pswp-gallery {
    gap: var(--content-gap);
}
