.post-title {
    margin-bottom: calc(2vh + 10px);
    font-size: 60px;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    .post-title {
        font-size: 40px;
    }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
    .post-main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .post-main :is(p, ul) {
        font-size: large;
    }
    .post-title {
    }
    .post-col2 {
        margin: none;
        width: 100%;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1407px) {
    .post-main {
        justify-content: space-between;
        align-items: start;
    }
    .post-col1 {
        max-width: 55%;
    }
    .post-col2 {
        max-width: 42%;
    }
}
@media screen and (min-width: 1407px) {
    .post-main {
        justify-content: space-between;
        align-items: start;
    }
    .post-col1 {
        max-width: 62%;
    }
    .post-col2 {
        max-width: 32%;
    }
}

.post-main {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.post-main p a {
    color: var(--theme);
    box-shadow: none;
}

.post-content {
    color: #000;
    text-align: justify;
    font-size: medium;
}
.post-content :is(h1, h2, h3, h4, h5, h6) {
    margin: 0;
    margin-bottom: 3vh;
}
.post-generique {
    padding: 40px;
    font-size: large;
    background-color: #fffbfb;
    border: 5px solid;
}
.post-generique :is(p, ul) {
    margin-bottom: 6px;
    font-size: medium;
}
.post-generique :is(h1, h2, h3, h4, h5, h6) {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.post-generique :is(h1, h2, h3, h4, h5, h6):not(:first-child) {
    margin-top: 25px;
}

.post-generique .saison {
    margin-bottom: 10px;
}

.post-generique .saison :is(h1, h2, h3, h4, h5, h6) {
    text-align: left;
}

.pswp-gallery img:hover {
    filter: brightness(0.8);
}
.pswp-gallery {
    gap: 1vh 2vh;
}
