/* from reset */
::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: var(--theme);
    border: none;
}

.list:not(.dark)::-webkit-scrollbar-thumb {
    border: none;
}

::-webkit-scrollbar:not(.highlighttable, .highlight table, .gist .highlight) {
    background: none;
}

/* from zmedia */
@media screen and (min-width: 768px) {
    ::-webkit-scrollbar {
        height: 11px;
        width: 18px;
        min-height: 180px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 0;
    }
}

@media screen and (max-width: 768px) {
    ::-webkit-scrollbar {
        -webkit-appearance: none !important;
        display: none;
    }
}
