{{- define "main" }}
    {{ $sections := where site.RegularPages "Type" "in" site.Params.mainSections }}
    {{ $list := slice }}
    {{ range $spectacle := $sections }}
        {{ range $representation
            := $spectacle.Params.representations
        }}
            {{ $dic := $representation }}
            {{ $dic =
                merge $dic (dict "name" $spectacle.Title "statut" $spectacle.Params.statut
                "lienspectacle" $spectacle.RelPermalink )
            }}
            {{ $list = $list | append $dic }}
        {{ end }}

    {{ end }}

    {{ $representations := sort $list "datefin" "desc" }}
    {{ $used := slice }}


    <div class="agenda">
        {{ $currentYear := int (.Site.Data.settings.seasonYear) }}

        {{ $currentSeasonEnd := $currentYear }}
        {{ $currentSeasonStart := (sub $currentYear 1) }}

        {{ range $year := (seq 0 20) }}

            {{ $list := slice }}

            {{ range $index, $representation := $representations }}
                {{ $fin := time ($representation.datefin) }}
                {{ $debut := time ($representation.datedebut) }}

                {{ $startYear := $year }}
                {{ $seasonStartYear := add $currentSeasonStart $year }}
                {{ $seasonEndYear := add $currentSeasonEnd $year }}
                {{ if and ($fin.After (time (printf "%d-09-01" $seasonStartYear))) ($fin.Before (time (printf "%d-09-01" $seasonEndYear))) }}
                    {{ $list = $list | append $representation }}
                    {{ $used = $used | append $index }}
                {{ end }}

            {{ end }}

            {{ if ge (len $list) 1 }}

                <div class="saison">
                    <h1 class="main-header">
                        saison
                        {{ printf "%d" (add $year $currentSeasonStart) }}
                        -
                        {{ printf "%d" (add $year $currentSeasonEnd) }}
                    </h1>
                    <ul class="representations">
                        {{- range $list }}
                            {{ partial "agendaLine.html" . }}
                        {{- end }}
                    </ul>
                </div>
            {{ end }}

        {{ end }}

        {{ if lt (len $used) (len $representations) }}

            <div class="saison">
                <h1 class="main-header">saisons passées</h1>
                <ul class="representations">
                    {{- range $index, $representation:= $representations }}
                        {{ if not ( in $used $index) }}
                            {{ partial "agendaLine.html" $representation }}
                        {{ end }}
                    {{- end }}
                </ul>
            </div>
        {{ end }}
    </div>
{{- end }}
