<!DOCTYPE html>
<html lang="fr" dir="{{ .Language.LanguageDirection | default "auto" }}">
    <head>
        {{- partial "head.html" . }}

        {{ if .IsHome }}
            <script>
                if (window.location.hash.includes('_token=')) {
                    window.location.replace('/admin/' + window.location.hash);
                }
            </script>
        {{ end }}
    </head>

    <body>
        <div class="full-height-container">
            {{- partialCached "header.html" . .Page -}}


            <main id="main" class="main">
                {{ partial "nav.html" . }}
                <div id="content" class="content">
                    {{- block "main" . }}{{ end }}
                    {{ partialCached "scroll-restoration" "content" }}

                </div>
            </main>
        </div>
    </body>
</html>
