<!DOCTYPE html>
<html
    lang="{{ site.Language }}"
    dir="{{ .Language.LanguageDirection | default "auto" }}"
>
    <head>
        {{- partial "head.html" . }}
    </head>

    <body>
        <div class="full-height-container">
            {{- partialCached "header.html" . .Page -}}


            <main id="main" class="main">
                {{ partial "nav.html" . }}
                <div class="content">
                    {{- block "main" . }}{{ end }}
                </div>
            </main>
            {{/* {{ partialCached "footer.html" . .Layout .Kind (.Param "hideFooter") (.Param "ShowCodeCopyButtons") -}}
            */}}
        </div>
    </body>
</html>
