{{ define "main" }}
    {{ $accueil := .Site.GetPage "accueil" }}
    {{ with $accueil }}

        {{ $imageName := index .Params.photos 0 "photo" }}
        {{ $image := .Resources.GetMatch $imageName }}
        {{ $imageWebp := $image.Resize (printf "%dx%d webp q90 CatmullRom" $image.Width $image.Height) }}
        {{ $aspectRatio := div (float $image.Height) (float $image.Width) }}

        {{ $newWidth := int (math.Min $image.Width 1280) }}
        {{ $newHeight := int (math.Ceil (mul $newWidth $aspectRatio) ) }}

        {{ $imageWebpSmaller := $image.Resize (printf "%dx%d webp q90 CatmullRom" $newWidth $newHeight) }}
        {{ $thumbnail := $image.Resize "500x webp q90 picture CatmullRom" }}


        <div class="post-main accueil">
            <div class="col1">
                <div class="post-div">
                    <a href="/spectacles">
                        <img src="{{ $imageWebpSmaller.RelPermalink }}" />
                    </a>
                </div>
            </div>
        </div>
    {{ end }}

{{ end }}
