{{- define "main" }}
    {{- $pages := union .RegularPages .Sections }}


    <div class="list">
        {{ if  not (or (in site.Params.mainSections .Section ) (.IsHome) ) }}

            {{ $pages_sorted := sort $pages "Weight" "desc" }}

            {{- range $pages_sorted }}
                {{ partial "post.html" . }}
            {{- end }}

        {{ else }}
            {{/* THIS IS FOR SPECTACLES & AUTRES */}}
            {{- if .IsHome }}

                {{/* {{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
                */}}
                {{- $pages =   where site.RegularPages "Type" "spectacles" }}

            {{- end }}

            {{ $enCours := (where $pages "Params.statut" "En cours") }}
            {{ $hasEnCours := ge (len $enCours) 1 }}

            {{ if $hasEnCours }}
                {{/* <h1 class="main-header list-title">en cours</h1> */}}
                {{ .Scratch.Set "index" 0 }}

                {{- range $enCours }}
                    {{ $.Scratch.Set "index" (add ($.Scratch.Get "index") 1) }}
                    {{ .Scratch.Set "index" ($.Scratch.Get "index") }}
                    {{ partial "post.html" . }}
                {{- end }}
            {{- end }}

            {{ $futur := (where $pages "Params.statut" "Futur") }}
            {{ $hasFutur := ge (len $futur) 1 }}

            {{ if $hasFutur }}
                {{/* <h1 class="main-header list-title">à venir</h1> */}}

                {{- range $futur }}
                    {{ partial "post.html" . }}
                {{- end }}
            {{ end }}

            {{ $passe := (where $pages "Params.statut" "Passé") }}
            {{ $hasPasse := ge (len $passe) 1 }}

            {{ if and ($hasPasse) (not (.IsHome)) }}
                <h1 class="main-header list-title">projets passés</h1>

                {{- range $passe }}
                    {{ partial "post.html" . }}
                {{- end }}

            {{ end }}

            {{ if and (not $hasEnCours) (not $hasFutur) (not $hasPasse) }}
                <h1 class="main-header list-title">rien pour le moment</h1>
            {{ end }}

        {{ end }}
    </div>
{{- end }}{{- /* end main */ -}}
