{{- define "main" }}

<article class="post-single">

  {{ $photos := .Params.photos }}
  {{ $hasPhotos := false }}
  {{ with .Params.photos }}
    {{ $hasPhotos = ge (len .) 1 }}
  {{ end }}


  <div class="post-main  {{ cond ($hasPhotos) `` `no-photo`}}">
    

    <div class="col1">
      <h1>
        {{ .Title }}
        {{ if or .Params.year .Params.porteur }}
      <span>
        {{ $porteurLink := printf "/nous/%s" (.Params.porteur | urlize) }}
        <h2>
          <a href="{{ $porteurLink }}" >{{- .Params.porteur }}</a> <br/>
                   {{ .Params.year}} 
        </h2>
        <h2>
        </h2>
      </span>
        
      {{ end }}
      </h1>
      

      
  
      <div class=" post-div  post-content">
  
  
        {{- if .Content }}
        {{ .Content }}
        {{- end }}
  
      </div>
  
  
    {{- if .Params.representations}}
  
    <div class=" post-div dates">
          {{- partial "dates.html" . -}}          
    </div>
    
    {{ else }}
  
      {{ if  (in site.Params.mainSections .Type)}}
        <div class="post-div">
          <p class="no-dates-warning">
            Pas de dates pour le moment
          </p>
        </div>
      {{ end}}
    
    {{- end}}

    <div class=" post-div post-generique">
      {{- if .Params.generique}}
      {{ .Params.generique | markdownify}}
      {{- end -}}

    </div>
    
    </div>
    
     

    {{ if $hasPhotos}}
    <div class="col2">
      <div class=" post-div post-gallery">
        {{- partial "gallery.html" . }}
      </div>

    </div>

    {{ end }}
      

      
        
  <div class="col3">
    <div class=" post-div post-generique">
      {{- if .Params.generique}}
      {{ .Params.generique | markdownify}}
      {{- end -}}

    </div>
  </div>
      


  </div>

  <footer class="post-footer">
    {{- if .Params.tags }}
    <ul class="post-tags">
      {{- range ($.GetTerms "tags") }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
    {{- end }}
    

  </footer>

</article>

{{- end }}{{/* end main */}}