<link rel="stylesheet" href="/photoswipe/photoswipe.css" />

<script type="module">
    import PhotoSwipeLightbox from '/photoswipe/photoswipe-lightbox.esm.min.js';


    const lightbox = new PhotoSwipeLightbox({
        gallery: '#gallery',
        children: 'a',
        bgOpacity: 1,
        showHideAnimationType: 'none',
        initialZoomLevel: 'fit',
        secondaryZoomLevel: 1,
        maxZoomLevel: 2,
        // optionally disable zoom transition,
        // to create more consistent experience
        zoomAnimationDuration: false,
        preload: [1,3],
        pswpModule: () => {
            {{/*  console.log('pswpModule');  */}}
            return import('/photoswipe/photoswipe.esm.min.js');
        }
    });


    lightbox.on('uiRegister', function () {
        {{/*  console.log('Register ! ');  */}}

        lightbox.pswp.ui.registerElement({
            name: 'download-button',
            order: 9,
            isButton: true,
            tagName: 'a',
            padding: '3rem',

            // SVG with outline
            html: {
                isCustomSVG: true,
                inner: '<path d="M20.5 14.3 17.1 18V10h-2.2v7.9l-3.4-3.6L10 16l6 6.1 6-6.1ZM23 23H9v2h14Z" id="pswp__icn-download"/>',
                outlineID: 'pswp__icn-download'
            },

            onInit: (el, pswp) => {
                el.setAttribute('download', '');
                el.setAttribute('target', '_blank');
                el.setAttribute('rel', 'noopener');

                pswp.on('change', () => {
                    el.href = pswp.currSlide.data.src;
                });
            }
        });
        lightbox.pswp.ui.registerElement({
            name: 'custom-caption',
            order: 7,
            isButton: false,
            appendTo: 'root',
            html: 'Caption text',
            onInit: (el, pswp) => {
                lightbox.pswp.on('change', () => {
                    const currSlideElement =
                        lightbox.pswp.currSlide.data.element;
                    let captionHTML = '';
                    if (currSlideElement) {
                        const hiddenCaption = currSlideElement.querySelector(
                            '.hidden-caption-content'
                        );
                        if (hiddenCaption) {
                            // get caption from element with class hidden-caption-content
                            captionHTML = hiddenCaption.innerHTML;
                        } else {
                            // get caption from alt attribute
                            captionHTML = currSlideElement
                                .querySelector('img')
                                .getAttribute('alt');
                        }
                    }
                    el.innerHTML = '<span>' + (captionHTML || '') + '</span>';
                });
            }
        });

    });

    // Parse data-pswp-webp-src attribute
lightbox.addFilter('itemData', (itemData, index) => {
    const webpSrc = itemData.element.dataset.pswpWebpSrc;
    const webpSizes = itemData.element.dataset.pswpWebpSizes;
    if (webpSrc) {
        itemData.webpSrc = webpSrc;
    }
    if (webpSizes) {
        itemData.webpSizes = webpSizes;
    }
    return itemData;
  });

  // use <picture> instead of <img>
  lightbox.on('contentLoad', (e) => {
      const { content, isLazy } = e;

      if (content.data.webpSrc) {
        // prevent to stop the default behavior
        e.preventDefault();



        content.pictureElement = document.createElement('picture');
        const sourceWebp = document.createElement('source');
        sourceWebp.srcset = content.data.webpSrc;
        sourceWebp.type = 'image/webp';
        sourceWebp.sizes = content.data.webpSizes;



        const sourceJpg = document.createElement('source');
        sourceJpg.srcset = content.data.src;
        sourceJpg.type = 'image/jpeg';

        content.element = document.createElement('img');
        content.element.src = content.data.src;
        content.element.setAttribute('alt', '');

        content.element.className = 'pswp__img';

        content.pictureElement.appendChild(sourceWebp);
        content.pictureElement.appendChild(sourceJpg);
        content.pictureElement.appendChild(content.element);

        content.state = 'loading';

        if (content.element.complete) {
          content.onLoaded();

        } else {
          content.element.onload = () => {
            content.onLoaded();

          };

          content.element.onerror = () => {
            content.onError();
          };
        }
      }
  });


  // by default PhotoSwipe appends <img>,
  // but we want to append <picture>
  lightbox.on('contentAppend', (e) => {
    const { content } = e;
    if (content.pictureElement && !content.pictureElement.parentNode) {
      e.preventDefault();
      content.slide.container.appendChild(content.pictureElement);
    }
  });



// for next/prev navigation with <picture>
// by default PhotoSwipe removes <img>,
// but we want to remove <picture>
    lightbox.on('contentRemove', (e) => {
        const { content } = e;
        if (content.pictureElement && content.pictureElement.parentNode) {
            e.preventDefault();
            content.pictureElement.remove();
        }
    });


  lightbox.init();
</script> {{ $title := .Title }}
{{ $Resources := .Resources }}


<div class="pswp-gallery " id="gallery">
    {{ range $photo := .Param "photos" }}

        {{ $image := $Resources.GetMatch $photo.photo }}
        {{ if $image }}
            {{ $imageWebp := $image.Resize (printf "%dx%d webp q90 CatmullRom" $image.Width $image.Height) }}
            {{ $aspectRatio := div (float $image.Height) (float $image.Width) }}

            {{ $newWidth := int (math.Min $image.Width 2500) }}
            {{ $newHeight := int (math.Ceil (mul $newWidth $aspectRatio) ) }}

            {{ $imageWebpSmaller := $image.Resize (printf "%dx%d webp q90 CatmullRom" $newWidth $newHeight) }}
            {{ $thumbnail := $image.Resize "500x webp q90 picture CatmullRom" }}


            <a
                href="{{ $image.RelPermalink }}"
                data-pswp-width="{{ $image.Width }}"
                data-pswp-height="{{ $image.Height }}"
                data-pswp-webp-src="{{ $imageWebpSmaller.RelPermalink }} {{ $newWidth }}w, {{ $imageWebp.RelPermalink }} {{ $imageWebp.Width }}w"
                data-pswp-webp-sizes="(max-width: 2300) {{ $newWidth }}px, (min-width: 2300px) {{ $imageWebp.Width }}px"
                target="_blank"
            >
                <img
                    src="{{ $thumbnail.RelPermalink }}"
                    alt="{{ $photo.alt | default (strings.TrimSuffix (path.Ext $image.Name) $image.Name) }}"
                />
            </a>
        {{ else }}
            {{ $image := $photo.photo }}
            <a href="{{ $image }}" target="_blank">
                <img src="{{ $image }}" alt="{{ $photo.alt }}" />
            </a>
        {{ end }}
    {{ end }}
</div>
