<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
{{/* <link href="https://fonts.googleap    is.com/css2?family=Amarante&display=swap" rel="stylesheet"> */}}
{{/* <link href="/fonts/Apercu-Light.woff2" rel="stylesheet">
    <link href="/fonts/Apercu-Regular.woff2" rel="stylesheet">
    <link href="/fonts/Apercu-Bold.woff2" rel="stylesheet">
*/}}


<link rel="icon" href="/favicon.ico" />

<header class="header">
    {{ partial "logo.html" . }}

</header>
