<a href="/" class="main-title-logo">
    <div class="row-logo first-row-logo">
        <div class="block-logo"></div>
        <div class="block-logo">
            <h1 class="align-right main-header logo-header ">la</h1>
        </div>
    </div>
    <div class="row-logo second-row-logo">
        <div class="block-logo"></div>
        <div class="block-logo">
            <h1 class="main-header logo-header">Filiale</h1>
        </div>
    </div>
    <div class="row-logo third-row-logo">
        <div class="block-logo">
            <h1 class="main-header logo-header">Fantôme</h1>
        </div>
        <div class="block-logo"></div>
    </div>
</a>
