<nav class="nav">
        
        
    {{- $currentPage := . }}
        <ul id="menu" class="menu">
            {{- range site.Menus.main }}
            {{- $menu_item_url := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL) ) | absLangURL }}
            {{- $page_url:= $currentPage.Permalink | absLangURL }}
            {{- $sectionId := .Identifier}}

            {{- $sublinks := where site.RegularPages "Section" $sectionId}}
            {{- $hasSubmenu := ge (len $sublinks) 1 }}
            {{ $isNotMainSection := not (in site.Params.mainSections $sectionId )}}

            
            {{/* {{- $is_search := eq (site.GetPage .KeyName).Layout `search` }} */}}
            <li>
                <a href="{{- cond (and $hasSubmenu $isNotMainSection) `/` .URL  }}" class="{{- cond (in $page_url $menu_item_url) `selected` ``}}  {{- cond (and $hasSubmenu $isNotMainSection) ` noLink` `` }} {{- cond (in $page_url
                    $menu_item_url) ` active` `` }}">

                    <span class="main-header">
                        {{- .Pre }}
                        {{- .Name -}}
                        {{ .Post -}}
                    </span>
                </a>
                {{/*  {{- if $hasSubmenu}}
                <ul class="submenu">
                    {{- range $sublinks}}
                    <li>
                        <a href="{{ .RelPermalink  }}" class="{{- cond (in $page_url .RelPermalink) `
                            active` `` }}" title="{{ .Title | default .Name }}">
                            <span>
                                {{- .Name -}}
                            </span>
                    </li>
                    {{- end}}
                </ul>
                {{- end}}  */}}
            </li>
            {{- end }}
        </ul>

</nav>