{{- $class := "post-entry" }}


<article  class ="post-entry" >
  

  {{ $photos := .Params.photos }}
  {{ $hasPhotos := false }}
  {{ with .Params.photos }}
    {{ $hasPhotos = ge (len .) 1 }}
  {{ end }}

  <div class="entry-main {{- cond $hasPhotos `` ` no-photo` }}"  href="{{ .RelPermalink }}">

    <div class="entry-content">
        <h2 class="secondary-header" >
          {{- .Title }}
          <span>
            <p class="sub-header">{{- .Params.porteur }} {{ .Params.year }} </p>

          </span>
        </h2>
      
      {{/*  <h3 >
        {{- .Title }} 
      </h3>  */}}
      {{/*  <p>{{ .Summary | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}</p>  */}}
      
      {{ if  (in site.Params.mainSections .Type)}}
      {{- partial "dates.html" . -}}
      {{ else }}
      <p class="summary">
        {{.Summary | plainify | htmlUnescape }}

      </p>
        
      {{ end }}
      
    </div>

    {{ if $hasPhotos}}

      {{ $photoOne := index $photos 0 }}
      {{ $photoRessource := .Resources.GetMatch $photoOne.photo}}
      {{ if $photoRessource }}

        {{ $aspectRatio := div (float $photoRessource.Height) (float $photoRessource.Width) }}

        {{ $newWidth := int (math.Min $photoRessource.Width 600)}}
        {{ $newHeight := int (math.Ceil (mul $newWidth $aspectRatio) )}}

        {{ $photoWebp := $photoRessource.Resize (printf "%dx%d webp q95 CatmullRom" $newWidth $newHeight)}}

      <div class ="entry-photo"> 
        {{ $index := .Scratch.Get "index"}}
        {{ $lazyImg := or (eq $index nil) (ge (.Scratch.Get "index") 5) }}

          <img
              width="{{ $newWidth }}"
              height="{{ $newHeight }}"
              src="{{ $photoWebp.RelPermalink }}"
              loading="{{ cond ($lazyImg)  `lazy` `eager` }}"
              alt="{{ $photoOne.alt | default (strings.TrimSuffix (path.Ext $photoOne.Name) $photoOne.Name) }}"
        />  
      </div>

      {{ else }}
      <div class ="entry-photo"> 

        <img
            src="{{ $photoOne.photo }}"
            loading="lazy"
            alt="{{ $photoOne.alt | default (strings.TrimSuffix (path.Ext $photoOne.Name) $photoOne.Name) }}"
      />  
    </div>
    {{ end }}
    
    {{ else }}
    <div class="entry-photo">

    </div>

    {{end}}
    
   
  </div>


  <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .RelPermalink }}"></a>
</article>