{{- $class := "post-entry" }}


<article  class ="post-entry" >
  

{{ $photos := .Params.photos}}
{{ $hasPhotos := isset .Params "photos" }}
{{/*  {{ if $hasPhotos}}
{{ $isPhotosNotEmpty := ge (len $photos) 1}}
{{ end }}  */}}
  <div class="entry-main {{- cond $hasPhotos `` ` no-photo` }}">

    {{ if $hasPhotos}}

    {{ $photoOne := index $photos 0 }}
    {{ $photoRessource := .Resources.GetMatch $photoOne.photo}}
    {{ $photoWebp := $photoRessource.Resize (printf "%dx%d webp q80 CatmullRom" $photoRessource.Width $photoRessource.Height)}}

    <div class="entry-header" style="background: url( {{$photoWebp.RelPermalink}} ) ; background-size: cover; background-position: center;">

      <h2 >
        {{- .Title }} 
      </h2>
    </div>
    {{ else}}
    <div class="entry-header">

      <h2 >
        {{- .Title }} 
      </h2>
    </div>
    {{end}}
    
    <div class="entry-content">
      {{/*  <h3 >
        {{- .Title }} 
      </h3>  */}}
      {{/*  <p>{{ .Summary | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}</p>  */}}
      
      {{- partial "dates.html" . -}}
      
    </div>
  </div>


  <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .RelPermalink }}"></a>
</article>