{{- $class := "post-entry" }}


<article  class ="post-entry" >
  

{{ $photos := .Params.photos}}
{{ $hasPhotos := isset .Params "photos" }}
{{/*  {{ if $hasPhotos}}
{{ $isPhotosNotEmpty := ge (len $photos) 1}}
{{ end }}  */}}
  <div class="entry-main {{- cond $hasPhotos `` ` no-photo` }}">

    <div class="entry-content">
      <h2 class="secondary-header" >
        {{- .Title }} 
      </h2>
      {{/*  <h3 >
        {{- .Title }} 
      </h3>  */}}
      {{/*  <p>{{ .Summary | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}</p>  */}}
      
      {{- partial "dates.html" . -}}
      
    </div>

    {{ if $hasPhotos}}

      {{ $photoOne := index $photos 0 }}
      {{ $photoRessource := .Resources.GetMatch $photoOne.photo}}
      {{ $aspectRatio := div (float $photoRessource.Height) (float $photoRessource.Width) }}

      {{ $newWidth := int (math.Min $photoRessource.Width 600)}}
      {{ $newHeight := int (math.Ceil (mul $newWidth $aspectRatio) )}}

      {{ $photoWebp := $photoRessource.Resize (printf "%dx%d webp q95 CatmullRom" $newWidth $newHeight)}}

    <div class ="entry-photo"> 

        <img
            width="{{ $photoRessource.Width }}"
            height="{{ $photoRessource.Height }}"
            src="{{ $photoWebp.RelPermalink }}"
            alt="{{ $photoOne.alt | default (strings.TrimSuffix (path.Ext $photoOne.Name) $photoOne.Name) }}"
       />  
    </div>
     
    {{ else }}
    <div class="entry-photo"></div>

    {{end}}
    
   
  </div>


  <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .RelPermalink }}"></a>
</article>